from django.db import models

class Bewerbung(models.Model):
    VORNAME = models.CharField(max_length=100)
    NACHNAME = models.CharField(max_length=100)
    EMAIL = models.EmailField()
    STUDIENGANG = models.CharField(max_length=100)
    ABSCHLUSS = models.CharField(max_length=100)
    SPRACHEN = models.TextField()
    STATUS = models.CharField(
        max_length=20,
        choices=[('neu', 'Neu'), ('bearbeitet', 'Bearbeitet'), ('zugesagt', 'Zugesagt'), ('abgelehnt', 'Abgelehnt')],
        default='neu'
    )
    DATUM = models.DateTimeField(auto_now_add=True)

    def __str__(self):
        return f"{self.VORNAME} {self.NACHNAME} - {self.STUDIENGANG}"
